<style>
    .card::-webkit-scrollbar {
        width: 0 !important
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 col-xs-6 col-sm-6 col-lg-12 m-auto">
            <h3>Chat</h3>
            <hr>
            <div class="card" style="max-height: 300px;overflow: scroll;">
                <div class="card-title pr-3 pl-3">
                    <br>
                    <%for(var i=0; i < messages.length;i++){%>
                    <input type="hidden" readonly id="user" value="<%=userData.id%>">
                    <input type="hidden" readonly id="buyer" value="<%=messages[i].buyer%>">
                    <input type="hidden" readonly id="seller" value="<%=messages[i].seller%>">
                    <%if(messages[i].message.text == null){%>
                    <%continue;%>
                    <%}else{%>
                    <%if(messages[i].message.by._id == userData.id){%>
                    <div>
                        <p style="text-align: right;">
                            <%=messages[i].message.text%>
                        </p>
                    </div>
                    <%}else{%>
                    <div>
                        <p style="text-align: left;">
                            <%=messages[i].message.text%>
                        </p>
                    </div>
                    <%}%>
                    <%}%>
                    <%}%>
                </div>
            </div><br>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="message" placeholder="Enter Message" 
                              aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <form action="#" method="">
                                <input type="button" value="Send" onclick="send()" class="btn btn-md btn-primary m-0 px-3 py-2 z-depth-0 waves-effect" id="button-addon2"></input>
                              </form>
                            </div>
                          </div>
                    </div>
                    </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

<script>
    function send() {
        var socket = io.connect();
        var by = document.getElementById('user').value
        var seller = document.getElementById('seller').value
        var text = document.getElementById('message').value;
        var user = document.getElementById('user').value;
        var message = {
            text, by
        }
        $(".card").stop().animate({scrollTop: $(".card")[0].scrollHeight}, 1000);
        socket.emit('message', {
            buyer: by, seller, message
        });
        socket.on('receive', function (data) {
            $(".card-title").append($(`<div><p style="text-align: right;" class="animated bounceInUp">${data.message.text}</p></div>`));
        })
    }
</script>