<div class="container mt-5">
    <%- include ('../partials/message')%>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="http://placehold.it/150x150" id="imgProfile"
                                    style="width: 150px; height: 150px" class="img-thumbnail" />
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                        href="javascript:void(0);"><%= userData.name %></a></h2>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                    value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                        role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#addNotes"
                                        role="tab" aria-controls="connectedServices" aria-selected="false">Add Notes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#notes"
                                        role="tab" aria-controls="connectedServices" aria-selected="false">View Your
                                        Sale Notes</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                    aria-labelledby="basicInfo-tab">


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <p><%= userData.name %></p>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%= userData.email %>
                                        </div>
                                    </div>
                                    <hr />


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Contact</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%=userData.contact%>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Gender</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <%if(userData.gender == 1){%>
                                            Male
                                            <%}else{%>
                                            Female
                                            <%}%>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="addNotes" role="tabpanel"
                                    aria-labelledby="ConnectedServices-tab">
                                    <div class="container mt-5">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 col-sm-6 m-auto">
                                                <form action="/user/addNotes" method="post">
                                                    <div class="form-group">
                                                        <label for="subject">Subject</label>
                                                        <select name="subject" class="form-control" required>
                                                            <option value="" selected>Select Subject</option>
                                                            <%for(var i=0;i< notes.length;i++){%>
                                            <option value="<%= notes[i]._id%>">
                                                <%= notes[i].subject%></option>
                                            <%}%>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price">Price :</label>
                                                        <input type="number" class="form-control" name="price" required placeholder="Enter Zero if selling at no Cost">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="notes" role="tabpanel"
                                    aria-labelledby="ConnectedServices-tab">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>Semester</th>
                                                <th>Subject</th>
                                                <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myTable">
                                                <%if(salesNotes.length !=0){%>
                                            <%for(var i=0;i< salesNotes.length;i++){%>
                                            <tr>
                                                <td><%=salesNotes[i].notesId.department %></td>
                                                <td><%=salesNotes[i].notesId.semester%></td>
                                                <td><%=salesNotes[i].notesId.subject%></td>
                                                <td><%=salesNotes[i].price%></td>
                                            </tr>
                                            <%}%>
                                                                <%}else{%>
                                            <h3>You Have not posted any Notes to Sell</h3>
                                            <%}%>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>