<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-10 m-auto">
            <%- include ('../partials/message')%>
            <h3>Your notes for Selling</h3>
            <table class="table table-striped table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Subject</th>
                        <th>Price</th>
                        <th colspan="2" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <%if(requests.length !=0){%>
                    <%for(var i=0;i< requests.length;i++){%>
                    <tr>
                        <td><%=requests[i].notes.department %></td>
                        <td><%=requests[i].notes.subject%></td>
                        <td><%=requests[i].price%></td>
                        <%if(requests[i].status == 1){%>
                        <td><a href="/user/requests/approve/<%=requests[i]._id%>"><button
                                    class="btn btn-success">Approve</button></a></td>
                        <td><a href="/user/requests/reject/<%=requests[i]._id%>"><button
                                    class="btn btn-danger">Reject</button></a></td>
                        <%}else if (requests[i].status == 2){%>
                        <td colspan="2" style="color: green;"><b>Completed Order <i class="fa fa-check"></i></b></td>
                        <%}else{%>
                        <td colspan="2" style="color: red;"><b>Cancelled <i class="fa fa-ban"></i></b></td>
                    </tr>
                    <%}%>
                    <%}%>
                        <%}else{%>
                    <h3>You Have not posted any Notes to Sell</h3>
                    <%}%>
                                            </tbody>
                                        </table>
                                </div>
    </div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>