<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-kRhEFx3juKLzCCjIVRLvmT7sXETaQvE&libraries=places"></script>
<script>
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();

            document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
            document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
        });
    });
</script>
<div class="container mt-5">
    <div class="col-md-8 col-xs-12 col-sm-6 m-auto">
        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
            <h3>Notes Details</h3>
            <hr>
            <form action="/user/notes/<%=note._id%>/buy%>" method="POST">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-4">
                        <label style="font-weight:bold;">Department </label>
                    </div>
                    <div class="col-md-8 col-6">
                        <%=note.department%>
                        <input type="hidden" name="department" value="<%=note.department%>">
                    </div>
                </div>
                <hr />
                <input type="hidden" name="notesId" value="<%=note._id%>">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-4">
                        <label style="font-weight:bold;">Subject </label>
                    </div>
                    <div class="col-md-8 col-6">
                        <%=note.subject%>
                        <input type="hidden" name="subject" value="<%=note.notesId%>">
                    </div>
                </div>
                <hr />


                <div class="row">
                    <div class="col-sm-4 col-md-4 col-4">
                        <label style="font-weight:bold;">Semester </label>
                    </div>
                    <div class="col-md-8 col-6">
                        <%=note.semester%>
                        <input type="hidden" name="semester" value="<%=note.semester%>">

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-4">
                        <label style="font-weight:bold;">Date </label>
                    </div>
                    <div class="col-md-8 col-6">
                        <input type="date" name="date" class="form-control" id="date">
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-4">
                        <label style="font-weight:bold;">Time </label>
                    </div>
                    <div class="col-md-8 col-6">
                        <input type="time" name="time" class="form-control" id="time" required>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <label for="address">Enter Address to Take Notes</label>
                    </div>
                    <div class="col-md-8 col-6 m-auto">
                        <input type="text" class="form-control Autocomplete" name="address" id="search_input" required>
                    </div>
                </div>
                <hr />
                <button class="btn btn-primary" onclick="return confirm('Confirm Sending Request')">Send Mail</button>
            </form>
        </div>
    </div>
</div>